@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color-scheme: "white";
}


.color__sub {
  color: #495024;
}


.input__style {
  width: 100%;
  border: 1px solid orange;
  border-radius: 0.25rem;
  padding: 0.75rem 14px;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.label__style{
  display: block;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
  font-size: 0.875rem/* 14px */;
  line-height: 1.25rem/* 20px */;
  margin-bottom: 0.5rem/* 8px */;
}

.title__main {
  font-size: 40px;
  font-weight: 600;
  line-height: 2rem;
  color: orange;
  text-align: center;
  text-transform: capitalize;
}

.btn__principal {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.25rem;
  margin-right: 0.75rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
  border-radius: 28px;
  background-color: #626C2A;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn__principal:hover {
  background-color: #495024;
}