@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    @apply text-orange-900;
}

@layer base{
    section{
        @apply py-[75px];
    }
}

@layer components {
    .container{
        @apply max-w-full w-[1280px] px-5 mx-auto;
    }

    .header{
        @apply  w-full h-[100px] leading-[100px];
    }
    .heading{
        @apply text-[44px] leading-[54px] font-[700] text-headingColor;
    }

    .text__para{
        @apply text-[18px] leading-[30px] font-[400] mt-[18px];
    }
}


@media only screen and (max-width: 1024px){
    .container{
        @apply w-full;
    }
    
    section{
        @apply px-[35px];
    }
}


@media only screen and (max-width: 768px){
    .heading{
        @apply text-[26px] leading-[36px]
    }

    .text__para{
        @apply text-[16px] leading-7 mt-3
    }
}
